# Ignore everything
/*

# Allow top-level folders
!/Assets/
!/Packages/
!/ProjectSettings/

# Allow everything inside them
/Assets/**
/Packages/**
/ProjectSettings/**

# Ignore generated Unity folders
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/

# IDE files
.vs/
.idea/
.gradle/

# Visual Studio / Rider files
*.csproj
*.sln
*.suo
*.user
*.userprefs

# Builds
*.apk
*.aab
*.app

# Logs
*.log